@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{
	Layout = "masterTemplate.cshtml";
    var WorkPlacesPage = Umbraco.Content(Guid.Parse("24d2ff49-bc14-4bae-a23f-bd5c5bbb6a91"));
    var WorkPlacesImage = WorkPlacesPage.Value<MediaWithCrops>("workPlacesImage");

}



      <div class="site-content">
         <!--=================================
         Page Header -->
    <div class="inner-header bg-holder" style="background-image: url(@WorkPlacesImage?.MediaUrl());">
          <div class="container">
            <div class="row  justify-content-center">
              <div class="col-md-12 text-center">
                    <h1 class="title">@WorkPlacesPage.Value("workPlacesTitle")</h1>
                <ul class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item active"><a href="index.html">@WorkPlacesPage.Value("workPlacesDesc")</a></li>
                </ul>
              </div>
            </div>
          </div>
         </div>

         <div class="content-wrapper">

            <!--=================================
            Locations  -->
            <section class="space-pt section-bg-effect">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12">
                      <div class="workspaces-single-wrapper">
                        <div class="workspaces-image-carousel">
                          <div class="owl-carousel" data-loop="true" data-nav-arrow="true" data-items="1" data-lg-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1">

                            @{
                                var typedMultiMediaPicker = Model.Value<IEnumerable<MediaWithCrops>>("workPlaceMedia");
                                foreach (var entry in typedMultiMediaPicker)
                                {
                                   
                                    <div class="item"><img class="img-fluid radius-10" src="@entry.MediaUrl()" alt="Workspaces Image" /></div>

                                }
                            }

                         
                         
                          </div>
                        </div>
                        <div class="workspaces-info">
                          <div class="spaces-info-left">
                            <h4 class="spaces-title">@Model.Value("workPlaceName")</h4>
                            <div class="spaces-description">@Model.Value("workPlaceDesc")</div>
                            <div class="plan-price">
                              <span class="currency">$</span>
                              <span class="price">159</span>
                              <span class="period">/Monthly</span>
                            </div>
                          </div>
                          <div class="spaces-info-right">
                            <div class="spaces-info">
                              <ul class="spaces-list">
                                <li>
                                  <div class="list-icon"><img class="img-fluid" src="/media/x1rozrt5/spaces-icon-01.png" alt=""></div>
                                  <div class="list-label">Spaces:</div>
                                  <div class="list-value">@Model.Value("workPlaceChairsNo")</div>
                                </li>
                                <li>
                                  <div class="list-icon"><img class="img-fluid" src="/media/dkpnmfas/spaces-icon-02.png" alt=""></div>
                                  <div class="list-label">Workplaces:</div>
                                  <div class="list-value">@Model.Value("workPlaceOfficesNo")</div>
                                </li>
                              </ul>
                            </div>
                           
                          </div>
                        </div>
                      </div>
                     </div>
                  </div>
               </div>
            </section>

            <!--=================================
            Infobox -->
            <section class="space-ptb section-bg-effect">
              <div class="container">
                <div class="row">
                  <div class="col-xl-7 col-lg-12">
                    <div class="section-title"><h2 class="title">Features</h2></div>
                  </div>
                </div>
                <div class="row">
                  @*<div class="col-xl-4 col-lg-2 col-md-1"></div>*@
                  <div class="col-xl-6 col-lg-7 col-md-8">
                    <p>@Model.Value("workPlaceFeatures")</p>
                  </div>
                  <div class="col-xl-2 col-lg-3 col-md-3 mt-3 mt-md-0 text-start text-md-end">
                    
                  </div>
                </div>
                <div class="row g-0 mt-5">


                  <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="infobox-wrapper infobox-style-3">
                      <div class="infobox-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100" x="0px" y="0px"><defs><style>.cls-1{fill-rule:evenodd;}</style>
                          <linearGradient id="mygradient" class="mygradient"><stop offset="0" class="start-color" /><stop offset="1" class="end-color" /></linearGradient>
                          </defs><title>a</title><path class="cls-1" d="M45.22,8.275c-2.037-1.613-2.336-1.613-4.373,0-2.209,1.75-2.935,1.922-5.685,1.3-2.388-.543-2.558-.462-3.572,1.751-1.163,2.54-1.756,3.019-4.49,3.6-2.356.5-2.47.64-2.451,3.051.022,2.8-.313,3.483-2.524,5.194-1.966,1.523-2.014,1.742-.95,4.019,1.227,2.623,1.227,3.4,0,6.022-1.064,2.277-1.016,2.495.95,4.018,2.21,1.712,2.546,2.4,2.524,5.194-.019,2.412.095,2.552,2.451,3.052,2.734.579,3.327,1.057,4.49,3.6,1.014,2.214,1.185,2.294,3.572,1.751,2.75-.625,3.476-.453,5.685,1.3,2.037,1.614,2.336,1.614,4.373,0,2.209-1.75,2.935-1.921,5.685-1.3,2.388.543,2.558.462,3.572-1.751,1.163-2.54,1.756-3.018,4.49-3.6,2.356-.5,2.47-.64,2.451-3.052-.022-2.8.313-3.482,2.524-5.194,1.966-1.523,2.014-1.741.95-4.018-1.227-2.624-1.227-3.4,0-6.022,1.064-2.278,1.016-2.5-.95-4.019-2.21-1.711-2.546-2.4-2.524-5.194.019-2.411-.095-2.552-2.451-3.051-2.734-.579-3.327-1.058-4.49-3.6-1.014-2.213-1.184-2.294-3.572-1.751-2.751.625-3.476.453-5.685-1.3ZM43.034,5c2.277,0,3.883,2.474,5.272,2.8s3.843-1.2,5.806-.234,2.255,3.837,3.308,4.682,3.912.5,5.27,2.189.4,4.419,1.006,5.645,3.36,2.181,3.866,4.34S66.037,28.67,66.037,30.2s2.031,3.618,1.525,5.773S64.3,39.088,63.7,40.309s.352,3.954-1.006,5.645-4.226,1.352-5.27,2.189-1.344,3.719-3.308,4.683-4.42-.56-5.806-.235-3,2.8-5.272,2.8-3.884-2.474-5.273-2.8-3.843,1.2-5.806.235-2.255-3.837-3.308-4.683-3.912-.5-5.27-2.189-.4-4.418-1.006-5.645-3.36-2.181-3.866-4.34S20.03,31.721,20.03,30.2,18,26.577,18.505,24.422s3.267-3.119,3.866-4.34-.352-3.953,1.006-5.645,4.226-1.351,5.27-2.189,1.344-3.719,3.308-4.682,4.42.559,5.806.234,3-2.8,5.273-2.8ZM53.142,17.9a1.027,1.027,0,1,1,1.3-1.586,17.959,17.959,0,1,1-4.373-2.657,1.028,1.028,0,1,1-.8,1.892A15.924,15.924,0,1,0,53.142,17.9Zm-8,9.568a1.023,1.023,0,0,0,.806.584v0l4.918.618-3.618,3.394a1.028,1.028,0,0,0-.306.942h0l.932,4.872-4.346-2.393a1.028,1.028,0,0,0-1,.006l-4.337,2.387.932-4.872a1.025,1.025,0,0,0-.336-.97L35.2,28.669l4.918-.618a1.029,1.029,0,0,0,.841-.665l2.075-4.415,2.11,4.492Zm-1.181-7.341,2.8,5.955,6.532.821a1.03,1.03,0,0,1,.533,1.816l-4.756,4.46,1.238,6.467A1.03,1.03,0,0,1,48.8,40.736L43.034,37.56l-5.769,3.176a1.03,1.03,0,0,1-1.506-1.095L37,33.174l-4.8-4.5a1.029,1.029,0,0,1,.58-1.769v0l6.532-.821,2.8-5.955a1.027,1.027,0,0,1,1.859,0Zm25.465,72.39L88.02,73.92l-4.646-4.646a3.4,3.4,0,0,0-4.79,0L64.817,83.041a1.02,1.02,0,0,1-.418.493,3.408,3.408,0,0,0,.383,4.333l4.646,4.645ZM64.006,80.938a7.829,7.829,0,0,0-6.792-3.131v0H34.3c-7.15-.606-11.808-7.1-17.679-15.294-1.175-1.64-2.4-3.345-3.713-5.1h0c-1.661-2.267-1.917-3.849-.1-5.671a3.944,3.944,0,0,1,5.558,0L29.221,62.586a6,6,0,0,0,5.822,7.4H46.865a1.031,1.031,0,0,0,0-2.061H35.043a3.931,3.931,0,0,1,0-7.861H53.678a1.03,1.03,0,0,0,.348-.06q8.521-2.176,14.3.012a15.953,15.953,0,0,1,8.532,8.069L64.006,80.938Zm26.2-6.29L70.156,94.7a1.031,1.031,0,0,1-1.457,0l-5.374-5.374a5.466,5.466,0,0,1-.725-6.807c-1.266-1.975-3.037-2.654-5.386-2.657v0H34.261a.714.714,0,0,1-.08,0c-8.133-.661-13.043-7.512-19.236-16.152-1.177-1.641-2.4-3.349-3.688-5.072h0c-2.281-3.034-2.458-5.8.1-8.358a6.006,6.006,0,0,1,8.473,0l10.3,10.3a5.992,5.992,0,0,1,4.914-2.573H53.567q9.123-2.32,15.48.089a17.8,17.8,0,0,1,9.458,8.72,5.467,5.467,0,0,1,6.327,1l5.374,5.374A1.031,1.031,0,0,1,90.206,74.648Z"/>
                        </svg>
                      </div>
                      <div class="infobox-content">
                        <h5 class="infobox-title"><a href="#">Private Office</a></h5>
                        <p>sed do eiusmod tempor incididunt ut labore.</p>
                      </div>
                    </div>
                  </div>




                  <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="infobox-wrapper infobox-style-3">
                      <div class="infobox-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100" x="0px" y="0px"><defs><style>.cls-1{fill-rule:evenodd;}</style>
                          <linearGradient id="mygradient2" class="mygradient"><stop offset="0" class="start-color" /><stop offset="1" class="end-color" /></linearGradient>
                          </defs><path d="M86.592,13.31H26.279a7.417,7.417,0,0,0-7.408,7.408V42.455h-1.42a1.089,1.089,0,0,0-1.078.934L15.9,46.67a16.019,16.019,0,0,0-3.321,1.444L10.048,46.22a1.09,1.09,0,0,0-1.424.1L4.507,50.439a1.09,1.09,0,0,0-.1,1.424l1.986,2.655a16.045,16.045,0,0,0-1.328,3.368l-3.129.451A1.09,1.09,0,0,0,1,59.416v5.822a1.09,1.09,0,0,0,.934,1.079l3.281.473a15.988,15.988,0,0,0,1.444,3.32L4.766,72.642a1.089,1.089,0,0,0,.1,1.423l4.117,4.118a1.09,1.09,0,0,0,1.423.1L13.064,76.3a15.9,15.9,0,0,0,3.368,1.328l.451,3.129a1.089,1.089,0,0,0,1.078.935h5.823a1.091,1.091,0,0,0,1.079-.935l.472-3.281a16.019,16.019,0,0,0,3.321-1.444l2.531,1.894a1.09,1.09,0,0,0,1.424-.1l4.117-4.117a1.09,1.09,0,0,0,.1-1.424l-1.086-1.452H86.592A7.416,7.416,0,0,0,94,63.421v-42.7A7.417,7.417,0,0,0,86.592,13.31ZM26.279,15.49H86.592a5.234,5.234,0,0,1,5.228,5.228v3.806H59.942a1.09,1.09,0,0,0-.707.26L56.281,27.3H21.051V20.718A5.235,5.235,0,0,1,26.279,15.49Zm5.458,60.123-2.365-1.77A1.09,1.09,0,0,0,28.13,73.8a13.834,13.834,0,0,1-4.043,1.763,1.09,1.09,0,0,0-.808.9L22.84,79.51H18.905l-.421-2.924a1.09,1.09,0,0,0-.846-.909,13.821,13.821,0,0,1-4.1-1.614,1.092,1.092,0,0,0-1.208.065L9.859,75.974,7.076,73.192l1.77-2.366a1.092,1.092,0,0,0,.045-1.242,13.834,13.834,0,0,1-1.763-4.043,1.09,1.09,0,0,0-.9-.807l-3.048-.44V60.36L6.1,59.938a1.089,1.089,0,0,0,.91-.846,13.815,13.815,0,0,1,1.614-4.1,1.09,1.09,0,0,0-.066-1.208L6.716,51.313,9.5,48.531l2.366,1.77a1.089,1.089,0,0,0,1.241.044,13.845,13.845,0,0,1,4.043-1.763,1.09,1.09,0,0,0,.808-.9l.439-3.048H22.33l.421,2.924a1.09,1.09,0,0,0,.846.909,13.821,13.821,0,0,1,4.1,1.614,1.09,1.09,0,0,0,1.208-.065l2.467-1.846,2.783,2.782-1.77,2.366a1.092,1.092,0,0,0-.045,1.242A13.834,13.834,0,0,1,34.107,58.6a1.09,1.09,0,0,0,.9.807l3.048.44v3.934l-2.923.422a1.087,1.087,0,0,0-.909.846,13.845,13.845,0,0,1-1.615,4.1,1.09,1.09,0,0,0,.066,1.208l1.845,2.467Zm54.855-6.964H35.32a16.036,16.036,0,0,0,.852-2.391l3.129-.451a1.09,1.09,0,0,0,.934-1.079V58.906a1.09,1.09,0,0,0-.934-1.079l-3.281-.473a15.988,15.988,0,0,0-1.444-3.32L36.469,51.5a1.088,1.088,0,0,0-.1-1.423L32.25,45.961a1.09,1.09,0,0,0-1.423-.1l-2.656,1.987A15.948,15.948,0,0,0,24.8,46.518l-.451-3.129a1.089,1.089,0,0,0-1.078-.934H21.051V29.484H56.682a1.093,1.093,0,0,0,.708-.261l2.954-2.52H91.82V63.421A5.234,5.234,0,0,1,86.592,68.649ZM67.374,23.26a3.253,3.253,0,1,0-3.253-3.253A3.257,3.257,0,0,0,67.374,23.26Zm0-4.326A1.073,1.073,0,1,1,66.3,20.007,1.074,1.074,0,0,1,67.374,18.934Zm7.977,4.326A3.253,3.253,0,1,0,72.1,20.007,3.256,3.256,0,0,0,75.351,23.26Zm0-4.326a1.073,1.073,0,1,1-1.073,1.073A1.075,1.075,0,0,1,75.351,18.934Zm7.978,4.326a3.253,3.253,0,1,0-3.253-3.253A3.256,3.256,0,0,0,83.329,23.26Zm0-4.326a1.073,1.073,0,1,1-1.073,1.073A1.074,1.074,0,0,1,83.329,18.934ZM27.6,23.567a1.09,1.09,0,0,1,1.089-1.089h6.052a1.09,1.09,0,1,1,0,2.179H28.689A1.09,1.09,0,0,1,27.6,23.567Zm0-4.341a1.09,1.09,0,0,1,1.089-1.089h6.052a1.09,1.09,0,1,1,0,2.179H28.689A1.09,1.09,0,0,1,27.6,19.226ZM62.18,37.258,52.719,61.293a1.09,1.09,0,1,1-2.028-.8l9.461-24.035a1.09,1.09,0,1,1,2.028.8ZM49.47,43.145,41.8,48.876l7.675,5.731a1.09,1.09,0,1,1-1.3,1.746l-8.844-6.6a1.089,1.089,0,0,1,0-1.746l8.844-6.6a1.09,1.09,0,0,1,1.3,1.746Zm24.518,5.731a1.09,1.09,0,0,1-.438.873l-8.844,6.6a1.09,1.09,0,1,1-1.3-1.746l7.675-5.731L63.4,43.145a1.09,1.09,0,1,1,1.3-1.746L73.55,48A1.091,1.091,0,0,1,73.988,48.876Zm-53.37,5.18a8.016,8.016,0,1,0,8.016,8.016A8.025,8.025,0,0,0,20.618,54.056Zm0,13.853a5.837,5.837,0,1,1,5.836-5.837A5.844,5.844,0,0,1,20.618,67.909Z"/>
                        </svg>
                      </div>
                      <div class="infobox-content">
                        <h5 class="infobox-title"><a href="#">Fresh Coffee</a></h5>
                        <p>sed do eiusmod tempor incididunt ut labore.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="infobox-wrapper infobox-style-3">
                      <div class="infobox-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100" x="0px" y="0px"><defs><style>.cls-1{fill-rule:evenodd;}</style>
                          <linearGradient id="mygradient3" class="mygradient"><stop offset="0" class="start-color" /><stop offset="1" class="end-color" /></linearGradient>
                          </defs><title>a</title><path class="cls-1" d="M45.22,8.275c-2.037-1.613-2.336-1.613-4.373,0-2.209,1.75-2.935,1.922-5.685,1.3-2.388-.543-2.558-.462-3.572,1.751-1.163,2.54-1.756,3.019-4.49,3.6-2.356.5-2.47.64-2.451,3.051.022,2.8-.313,3.483-2.524,5.194-1.966,1.523-2.014,1.742-.95,4.019,1.227,2.623,1.227,3.4,0,6.022-1.064,2.277-1.016,2.495.95,4.018,2.21,1.712,2.546,2.4,2.524,5.194-.019,2.412.095,2.552,2.451,3.052,2.734.579,3.327,1.057,4.49,3.6,1.014,2.214,1.185,2.294,3.572,1.751,2.75-.625,3.476-.453,5.685,1.3,2.037,1.614,2.336,1.614,4.373,0,2.209-1.75,2.935-1.921,5.685-1.3,2.388.543,2.558.462,3.572-1.751,1.163-2.54,1.756-3.018,4.49-3.6,2.356-.5,2.47-.64,2.451-3.052-.022-2.8.313-3.482,2.524-5.194,1.966-1.523,2.014-1.741.95-4.018-1.227-2.624-1.227-3.4,0-6.022,1.064-2.278,1.016-2.5-.95-4.019-2.21-1.711-2.546-2.4-2.524-5.194.019-2.411-.095-2.552-2.451-3.051-2.734-.579-3.327-1.058-4.49-3.6-1.014-2.213-1.184-2.294-3.572-1.751-2.751.625-3.476.453-5.685-1.3ZM43.034,5c2.277,0,3.883,2.474,5.272,2.8s3.843-1.2,5.806-.234,2.255,3.837,3.308,4.682,3.912.5,5.27,2.189.4,4.419,1.006,5.645,3.36,2.181,3.866,4.34S66.037,28.67,66.037,30.2s2.031,3.618,1.525,5.773S64.3,39.088,63.7,40.309s.352,3.954-1.006,5.645-4.226,1.352-5.27,2.189-1.344,3.719-3.308,4.683-4.42-.56-5.806-.235-3,2.8-5.272,2.8-3.884-2.474-5.273-2.8-3.843,1.2-5.806.235-2.255-3.837-3.308-4.683-3.912-.5-5.27-2.189-.4-4.418-1.006-5.645-3.36-2.181-3.866-4.34S20.03,31.721,20.03,30.2,18,26.577,18.505,24.422s3.267-3.119,3.866-4.34-.352-3.953,1.006-5.645,4.226-1.351,5.27-2.189,1.344-3.719,3.308-4.682,4.42.559,5.806.234,3-2.8,5.273-2.8ZM53.142,17.9a1.027,1.027,0,1,1,1.3-1.586,17.959,17.959,0,1,1-4.373-2.657,1.028,1.028,0,1,1-.8,1.892A15.924,15.924,0,1,0,53.142,17.9Zm-8,9.568a1.023,1.023,0,0,0,.806.584v0l4.918.618-3.618,3.394a1.028,1.028,0,0,0-.306.942h0l.932,4.872-4.346-2.393a1.028,1.028,0,0,0-1,.006l-4.337,2.387.932-4.872a1.025,1.025,0,0,0-.336-.97L35.2,28.669l4.918-.618a1.029,1.029,0,0,0,.841-.665l2.075-4.415,2.11,4.492Zm-1.181-7.341,2.8,5.955,6.532.821a1.03,1.03,0,0,1,.533,1.816l-4.756,4.46,1.238,6.467A1.03,1.03,0,0,1,48.8,40.736L43.034,37.56l-5.769,3.176a1.03,1.03,0,0,1-1.506-1.095L37,33.174l-4.8-4.5a1.029,1.029,0,0,1,.58-1.769v0l6.532-.821,2.8-5.955a1.027,1.027,0,0,1,1.859,0Zm25.465,72.39L88.02,73.92l-4.646-4.646a3.4,3.4,0,0,0-4.79,0L64.817,83.041a1.02,1.02,0,0,1-.418.493,3.408,3.408,0,0,0,.383,4.333l4.646,4.645ZM64.006,80.938a7.829,7.829,0,0,0-6.792-3.131v0H34.3c-7.15-.606-11.808-7.1-17.679-15.294-1.175-1.64-2.4-3.345-3.713-5.1h0c-1.661-2.267-1.917-3.849-.1-5.671a3.944,3.944,0,0,1,5.558,0L29.221,62.586a6,6,0,0,0,5.822,7.4H46.865a1.031,1.031,0,0,0,0-2.061H35.043a3.931,3.931,0,0,1,0-7.861H53.678a1.03,1.03,0,0,0,.348-.06q8.521-2.176,14.3.012a15.953,15.953,0,0,1,8.532,8.069L64.006,80.938Zm26.2-6.29L70.156,94.7a1.031,1.031,0,0,1-1.457,0l-5.374-5.374a5.466,5.466,0,0,1-.725-6.807c-1.266-1.975-3.037-2.654-5.386-2.657v0H34.261a.714.714,0,0,1-.08,0c-8.133-.661-13.043-7.512-19.236-16.152-1.177-1.641-2.4-3.349-3.688-5.072h0c-2.281-3.034-2.458-5.8.1-8.358a6.006,6.006,0,0,1,8.473,0l10.3,10.3a5.992,5.992,0,0,1,4.914-2.573H53.567q9.123-2.32,15.48.089a17.8,17.8,0,0,1,9.458,8.72,5.467,5.467,0,0,1,6.327,1l5.374,5.374A1.031,1.031,0,0,1,90.206,74.648Z"/>
                        </svg>
                      </div>
                      <div class="infobox-content">
                        <h5 class="infobox-title"><a href="#">Fast Internet</a></h5>
                        <p>sed do eiusmod tempor incididunt ut labore.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="infobox-wrapper infobox-style-3">
                      <div class="infobox-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100" x="0px" y="0px"><defs><style>.cls-1{fill-rule:evenodd;}</style>
                          <linearGradient id="mygradient4" class="mygradient"><stop offset="0" class="start-color" /><stop offset="1" class="end-color" /></linearGradient>
                          </defs><path d="M86.592,13.31H26.279a7.417,7.417,0,0,0-7.408,7.408V42.455h-1.42a1.089,1.089,0,0,0-1.078.934L15.9,46.67a16.019,16.019,0,0,0-3.321,1.444L10.048,46.22a1.09,1.09,0,0,0-1.424.1L4.507,50.439a1.09,1.09,0,0,0-.1,1.424l1.986,2.655a16.045,16.045,0,0,0-1.328,3.368l-3.129.451A1.09,1.09,0,0,0,1,59.416v5.822a1.09,1.09,0,0,0,.934,1.079l3.281.473a15.988,15.988,0,0,0,1.444,3.32L4.766,72.642a1.089,1.089,0,0,0,.1,1.423l4.117,4.118a1.09,1.09,0,0,0,1.423.1L13.064,76.3a15.9,15.9,0,0,0,3.368,1.328l.451,3.129a1.089,1.089,0,0,0,1.078.935h5.823a1.091,1.091,0,0,0,1.079-.935l.472-3.281a16.019,16.019,0,0,0,3.321-1.444l2.531,1.894a1.09,1.09,0,0,0,1.424-.1l4.117-4.117a1.09,1.09,0,0,0,.1-1.424l-1.086-1.452H86.592A7.416,7.416,0,0,0,94,63.421v-42.7A7.417,7.417,0,0,0,86.592,13.31ZM26.279,15.49H86.592a5.234,5.234,0,0,1,5.228,5.228v3.806H59.942a1.09,1.09,0,0,0-.707.26L56.281,27.3H21.051V20.718A5.235,5.235,0,0,1,26.279,15.49Zm5.458,60.123-2.365-1.77A1.09,1.09,0,0,0,28.13,73.8a13.834,13.834,0,0,1-4.043,1.763,1.09,1.09,0,0,0-.808.9L22.84,79.51H18.905l-.421-2.924a1.09,1.09,0,0,0-.846-.909,13.821,13.821,0,0,1-4.1-1.614,1.092,1.092,0,0,0-1.208.065L9.859,75.974,7.076,73.192l1.77-2.366a1.092,1.092,0,0,0,.045-1.242,13.834,13.834,0,0,1-1.763-4.043,1.09,1.09,0,0,0-.9-.807l-3.048-.44V60.36L6.1,59.938a1.089,1.089,0,0,0,.91-.846,13.815,13.815,0,0,1,1.614-4.1,1.09,1.09,0,0,0-.066-1.208L6.716,51.313,9.5,48.531l2.366,1.77a1.089,1.089,0,0,0,1.241.044,13.845,13.845,0,0,1,4.043-1.763,1.09,1.09,0,0,0,.808-.9l.439-3.048H22.33l.421,2.924a1.09,1.09,0,0,0,.846.909,13.821,13.821,0,0,1,4.1,1.614,1.09,1.09,0,0,0,1.208-.065l2.467-1.846,2.783,2.782-1.77,2.366a1.092,1.092,0,0,0-.045,1.242A13.834,13.834,0,0,1,34.107,58.6a1.09,1.09,0,0,0,.9.807l3.048.44v3.934l-2.923.422a1.087,1.087,0,0,0-.909.846,13.845,13.845,0,0,1-1.615,4.1,1.09,1.09,0,0,0,.066,1.208l1.845,2.467Zm54.855-6.964H35.32a16.036,16.036,0,0,0,.852-2.391l3.129-.451a1.09,1.09,0,0,0,.934-1.079V58.906a1.09,1.09,0,0,0-.934-1.079l-3.281-.473a15.988,15.988,0,0,0-1.444-3.32L36.469,51.5a1.088,1.088,0,0,0-.1-1.423L32.25,45.961a1.09,1.09,0,0,0-1.423-.1l-2.656,1.987A15.948,15.948,0,0,0,24.8,46.518l-.451-3.129a1.089,1.089,0,0,0-1.078-.934H21.051V29.484H56.682a1.093,1.093,0,0,0,.708-.261l2.954-2.52H91.82V63.421A5.234,5.234,0,0,1,86.592,68.649ZM67.374,23.26a3.253,3.253,0,1,0-3.253-3.253A3.257,3.257,0,0,0,67.374,23.26Zm0-4.326A1.073,1.073,0,1,1,66.3,20.007,1.074,1.074,0,0,1,67.374,18.934Zm7.977,4.326A3.253,3.253,0,1,0,72.1,20.007,3.256,3.256,0,0,0,75.351,23.26Zm0-4.326a1.073,1.073,0,1,1-1.073,1.073A1.075,1.075,0,0,1,75.351,18.934Zm7.978,4.326a3.253,3.253,0,1,0-3.253-3.253A3.256,3.256,0,0,0,83.329,23.26Zm0-4.326a1.073,1.073,0,1,1-1.073,1.073A1.074,1.074,0,0,1,83.329,18.934ZM27.6,23.567a1.09,1.09,0,0,1,1.089-1.089h6.052a1.09,1.09,0,1,1,0,2.179H28.689A1.09,1.09,0,0,1,27.6,23.567Zm0-4.341a1.09,1.09,0,0,1,1.089-1.089h6.052a1.09,1.09,0,1,1,0,2.179H28.689A1.09,1.09,0,0,1,27.6,19.226ZM62.18,37.258,52.719,61.293a1.09,1.09,0,1,1-2.028-.8l9.461-24.035a1.09,1.09,0,1,1,2.028.8ZM49.47,43.145,41.8,48.876l7.675,5.731a1.09,1.09,0,1,1-1.3,1.746l-8.844-6.6a1.089,1.089,0,0,1,0-1.746l8.844-6.6a1.09,1.09,0,0,1,1.3,1.746Zm24.518,5.731a1.09,1.09,0,0,1-.438.873l-8.844,6.6a1.09,1.09,0,1,1-1.3-1.746l7.675-5.731L63.4,43.145a1.09,1.09,0,1,1,1.3-1.746L73.55,48A1.091,1.091,0,0,1,73.988,48.876Zm-53.37,5.18a8.016,8.016,0,1,0,8.016,8.016A8.025,8.025,0,0,0,20.618,54.056Zm0,13.853a5.837,5.837,0,1,1,5.836-5.837A5.844,5.844,0,0,1,20.618,67.909Z"/>
                        </svg>
                      </div>
                      <div class="infobox-content">
                        <h5 class="infobox-title"><a href="#">Best Team</a></h5>
                        <p>sed do eiusmod tempor incididunt ut labore.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="infobox-wrapper infobox-style-3">
                      <div class="infobox-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100" x="0px" y="0px"><defs><style>.cls-1{fill-rule:evenodd;}</style>
                          <linearGradient id="mygradient5" class="mygradient"><stop offset="0" class="start-color" /><stop offset="1" class="end-color" /></linearGradient>
                          </defs><title>a</title><path class="cls-1" d="M45.22,8.275c-2.037-1.613-2.336-1.613-4.373,0-2.209,1.75-2.935,1.922-5.685,1.3-2.388-.543-2.558-.462-3.572,1.751-1.163,2.54-1.756,3.019-4.49,3.6-2.356.5-2.47.64-2.451,3.051.022,2.8-.313,3.483-2.524,5.194-1.966,1.523-2.014,1.742-.95,4.019,1.227,2.623,1.227,3.4,0,6.022-1.064,2.277-1.016,2.495.95,4.018,2.21,1.712,2.546,2.4,2.524,5.194-.019,2.412.095,2.552,2.451,3.052,2.734.579,3.327,1.057,4.49,3.6,1.014,2.214,1.185,2.294,3.572,1.751,2.75-.625,3.476-.453,5.685,1.3,2.037,1.614,2.336,1.614,4.373,0,2.209-1.75,2.935-1.921,5.685-1.3,2.388.543,2.558.462,3.572-1.751,1.163-2.54,1.756-3.018,4.49-3.6,2.356-.5,2.47-.64,2.451-3.052-.022-2.8.313-3.482,2.524-5.194,1.966-1.523,2.014-1.741.95-4.018-1.227-2.624-1.227-3.4,0-6.022,1.064-2.278,1.016-2.5-.95-4.019-2.21-1.711-2.546-2.4-2.524-5.194.019-2.411-.095-2.552-2.451-3.051-2.734-.579-3.327-1.058-4.49-3.6-1.014-2.213-1.184-2.294-3.572-1.751-2.751.625-3.476.453-5.685-1.3ZM43.034,5c2.277,0,3.883,2.474,5.272,2.8s3.843-1.2,5.806-.234,2.255,3.837,3.308,4.682,3.912.5,5.27,2.189.4,4.419,1.006,5.645,3.36,2.181,3.866,4.34S66.037,28.67,66.037,30.2s2.031,3.618,1.525,5.773S64.3,39.088,63.7,40.309s.352,3.954-1.006,5.645-4.226,1.352-5.27,2.189-1.344,3.719-3.308,4.683-4.42-.56-5.806-.235-3,2.8-5.272,2.8-3.884-2.474-5.273-2.8-3.843,1.2-5.806.235-2.255-3.837-3.308-4.683-3.912-.5-5.27-2.189-.4-4.418-1.006-5.645-3.36-2.181-3.866-4.34S20.03,31.721,20.03,30.2,18,26.577,18.505,24.422s3.267-3.119,3.866-4.34-.352-3.953,1.006-5.645,4.226-1.351,5.27-2.189,1.344-3.719,3.308-4.682,4.42.559,5.806.234,3-2.8,5.273-2.8ZM53.142,17.9a1.027,1.027,0,1,1,1.3-1.586,17.959,17.959,0,1,1-4.373-2.657,1.028,1.028,0,1,1-.8,1.892A15.924,15.924,0,1,0,53.142,17.9Zm-8,9.568a1.023,1.023,0,0,0,.806.584v0l4.918.618-3.618,3.394a1.028,1.028,0,0,0-.306.942h0l.932,4.872-4.346-2.393a1.028,1.028,0,0,0-1,.006l-4.337,2.387.932-4.872a1.025,1.025,0,0,0-.336-.97L35.2,28.669l4.918-.618a1.029,1.029,0,0,0,.841-.665l2.075-4.415,2.11,4.492Zm-1.181-7.341,2.8,5.955,6.532.821a1.03,1.03,0,0,1,.533,1.816l-4.756,4.46,1.238,6.467A1.03,1.03,0,0,1,48.8,40.736L43.034,37.56l-5.769,3.176a1.03,1.03,0,0,1-1.506-1.095L37,33.174l-4.8-4.5a1.029,1.029,0,0,1,.58-1.769v0l6.532-.821,2.8-5.955a1.027,1.027,0,0,1,1.859,0Zm25.465,72.39L88.02,73.92l-4.646-4.646a3.4,3.4,0,0,0-4.79,0L64.817,83.041a1.02,1.02,0,0,1-.418.493,3.408,3.408,0,0,0,.383,4.333l4.646,4.645ZM64.006,80.938a7.829,7.829,0,0,0-6.792-3.131v0H34.3c-7.15-.606-11.808-7.1-17.679-15.294-1.175-1.64-2.4-3.345-3.713-5.1h0c-1.661-2.267-1.917-3.849-.1-5.671a3.944,3.944,0,0,1,5.558,0L29.221,62.586a6,6,0,0,0,5.822,7.4H46.865a1.031,1.031,0,0,0,0-2.061H35.043a3.931,3.931,0,0,1,0-7.861H53.678a1.03,1.03,0,0,0,.348-.06q8.521-2.176,14.3.012a15.953,15.953,0,0,1,8.532,8.069L64.006,80.938Zm26.2-6.29L70.156,94.7a1.031,1.031,0,0,1-1.457,0l-5.374-5.374a5.466,5.466,0,0,1-.725-6.807c-1.266-1.975-3.037-2.654-5.386-2.657v0H34.261a.714.714,0,0,1-.08,0c-8.133-.661-13.043-7.512-19.236-16.152-1.177-1.641-2.4-3.349-3.688-5.072h0c-2.281-3.034-2.458-5.8.1-8.358a6.006,6.006,0,0,1,8.473,0l10.3,10.3a5.992,5.992,0,0,1,4.914-2.573H53.567q9.123-2.32,15.48.089a17.8,17.8,0,0,1,9.458,8.72,5.467,5.467,0,0,1,6.327,1l5.374,5.374A1.031,1.031,0,0,1,90.206,74.648Z"/>
                        </svg>
                      </div>
                      <div class="infobox-content">
                        <h5 class="infobox-title"><a href="#">Private Office</a></h5>
                        <p>sed do eiusmod tempor incididunt ut labore.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="infobox-wrapper infobox-style-3">
                      <div class="infobox-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100" x="0px" y="0px"><defs><style>.cls-1{fill-rule:evenodd;}</style>
                          <linearGradient id="mygradient6" class="mygradient"><stop offset="0" class="start-color" /><stop offset="1" class="end-color" /></linearGradient>
                          </defs><path d="M86.592,13.31H26.279a7.417,7.417,0,0,0-7.408,7.408V42.455h-1.42a1.089,1.089,0,0,0-1.078.934L15.9,46.67a16.019,16.019,0,0,0-3.321,1.444L10.048,46.22a1.09,1.09,0,0,0-1.424.1L4.507,50.439a1.09,1.09,0,0,0-.1,1.424l1.986,2.655a16.045,16.045,0,0,0-1.328,3.368l-3.129.451A1.09,1.09,0,0,0,1,59.416v5.822a1.09,1.09,0,0,0,.934,1.079l3.281.473a15.988,15.988,0,0,0,1.444,3.32L4.766,72.642a1.089,1.089,0,0,0,.1,1.423l4.117,4.118a1.09,1.09,0,0,0,1.423.1L13.064,76.3a15.9,15.9,0,0,0,3.368,1.328l.451,3.129a1.089,1.089,0,0,0,1.078.935h5.823a1.091,1.091,0,0,0,1.079-.935l.472-3.281a16.019,16.019,0,0,0,3.321-1.444l2.531,1.894a1.09,1.09,0,0,0,1.424-.1l4.117-4.117a1.09,1.09,0,0,0,.1-1.424l-1.086-1.452H86.592A7.416,7.416,0,0,0,94,63.421v-42.7A7.417,7.417,0,0,0,86.592,13.31ZM26.279,15.49H86.592a5.234,5.234,0,0,1,5.228,5.228v3.806H59.942a1.09,1.09,0,0,0-.707.26L56.281,27.3H21.051V20.718A5.235,5.235,0,0,1,26.279,15.49Zm5.458,60.123-2.365-1.77A1.09,1.09,0,0,0,28.13,73.8a13.834,13.834,0,0,1-4.043,1.763,1.09,1.09,0,0,0-.808.9L22.84,79.51H18.905l-.421-2.924a1.09,1.09,0,0,0-.846-.909,13.821,13.821,0,0,1-4.1-1.614,1.092,1.092,0,0,0-1.208.065L9.859,75.974,7.076,73.192l1.77-2.366a1.092,1.092,0,0,0,.045-1.242,13.834,13.834,0,0,1-1.763-4.043,1.09,1.09,0,0,0-.9-.807l-3.048-.44V60.36L6.1,59.938a1.089,1.089,0,0,0,.91-.846,13.815,13.815,0,0,1,1.614-4.1,1.09,1.09,0,0,0-.066-1.208L6.716,51.313,9.5,48.531l2.366,1.77a1.089,1.089,0,0,0,1.241.044,13.845,13.845,0,0,1,4.043-1.763,1.09,1.09,0,0,0,.808-.9l.439-3.048H22.33l.421,2.924a1.09,1.09,0,0,0,.846.909,13.821,13.821,0,0,1,4.1,1.614,1.09,1.09,0,0,0,1.208-.065l2.467-1.846,2.783,2.782-1.77,2.366a1.092,1.092,0,0,0-.045,1.242A13.834,13.834,0,0,1,34.107,58.6a1.09,1.09,0,0,0,.9.807l3.048.44v3.934l-2.923.422a1.087,1.087,0,0,0-.909.846,13.845,13.845,0,0,1-1.615,4.1,1.09,1.09,0,0,0,.066,1.208l1.845,2.467Zm54.855-6.964H35.32a16.036,16.036,0,0,0,.852-2.391l3.129-.451a1.09,1.09,0,0,0,.934-1.079V58.906a1.09,1.09,0,0,0-.934-1.079l-3.281-.473a15.988,15.988,0,0,0-1.444-3.32L36.469,51.5a1.088,1.088,0,0,0-.1-1.423L32.25,45.961a1.09,1.09,0,0,0-1.423-.1l-2.656,1.987A15.948,15.948,0,0,0,24.8,46.518l-.451-3.129a1.089,1.089,0,0,0-1.078-.934H21.051V29.484H56.682a1.093,1.093,0,0,0,.708-.261l2.954-2.52H91.82V63.421A5.234,5.234,0,0,1,86.592,68.649ZM67.374,23.26a3.253,3.253,0,1,0-3.253-3.253A3.257,3.257,0,0,0,67.374,23.26Zm0-4.326A1.073,1.073,0,1,1,66.3,20.007,1.074,1.074,0,0,1,67.374,18.934Zm7.977,4.326A3.253,3.253,0,1,0,72.1,20.007,3.256,3.256,0,0,0,75.351,23.26Zm0-4.326a1.073,1.073,0,1,1-1.073,1.073A1.075,1.075,0,0,1,75.351,18.934Zm7.978,4.326a3.253,3.253,0,1,0-3.253-3.253A3.256,3.256,0,0,0,83.329,23.26Zm0-4.326a1.073,1.073,0,1,1-1.073,1.073A1.074,1.074,0,0,1,83.329,18.934ZM27.6,23.567a1.09,1.09,0,0,1,1.089-1.089h6.052a1.09,1.09,0,1,1,0,2.179H28.689A1.09,1.09,0,0,1,27.6,23.567Zm0-4.341a1.09,1.09,0,0,1,1.089-1.089h6.052a1.09,1.09,0,1,1,0,2.179H28.689A1.09,1.09,0,0,1,27.6,19.226ZM62.18,37.258,52.719,61.293a1.09,1.09,0,1,1-2.028-.8l9.461-24.035a1.09,1.09,0,1,1,2.028.8ZM49.47,43.145,41.8,48.876l7.675,5.731a1.09,1.09,0,1,1-1.3,1.746l-8.844-6.6a1.089,1.089,0,0,1,0-1.746l8.844-6.6a1.09,1.09,0,0,1,1.3,1.746Zm24.518,5.731a1.09,1.09,0,0,1-.438.873l-8.844,6.6a1.09,1.09,0,1,1-1.3-1.746l7.675-5.731L63.4,43.145a1.09,1.09,0,1,1,1.3-1.746L73.55,48A1.091,1.091,0,0,1,73.988,48.876Zm-53.37,5.18a8.016,8.016,0,1,0,8.016,8.016A8.025,8.025,0,0,0,20.618,54.056Zm0,13.853a5.837,5.837,0,1,1,5.836-5.837A5.844,5.844,0,0,1,20.618,67.909Z"/>
                        </svg>
                      </div>
                      <div class="infobox-content">
                        <h5 class="infobox-title"><a href="#">Fresh Coffee</a></h5>
                        <p>sed do eiusmod tempor incididunt ut labore.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="infobox-wrapper infobox-style-3">
                      <div class="infobox-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100" x="0px" y="0px"><defs><style>.cls-1{fill-rule:evenodd;}</style>
                          <linearGradient id="mygradient7" class="mygradient"><stop offset="0" class="start-color" /><stop offset="1" class="end-color" /></linearGradient>
                          </defs><title>a</title><path class="cls-1" d="M45.22,8.275c-2.037-1.613-2.336-1.613-4.373,0-2.209,1.75-2.935,1.922-5.685,1.3-2.388-.543-2.558-.462-3.572,1.751-1.163,2.54-1.756,3.019-4.49,3.6-2.356.5-2.47.64-2.451,3.051.022,2.8-.313,3.483-2.524,5.194-1.966,1.523-2.014,1.742-.95,4.019,1.227,2.623,1.227,3.4,0,6.022-1.064,2.277-1.016,2.495.95,4.018,2.21,1.712,2.546,2.4,2.524,5.194-.019,2.412.095,2.552,2.451,3.052,2.734.579,3.327,1.057,4.49,3.6,1.014,2.214,1.185,2.294,3.572,1.751,2.75-.625,3.476-.453,5.685,1.3,2.037,1.614,2.336,1.614,4.373,0,2.209-1.75,2.935-1.921,5.685-1.3,2.388.543,2.558.462,3.572-1.751,1.163-2.54,1.756-3.018,4.49-3.6,2.356-.5,2.47-.64,2.451-3.052-.022-2.8.313-3.482,2.524-5.194,1.966-1.523,2.014-1.741.95-4.018-1.227-2.624-1.227-3.4,0-6.022,1.064-2.278,1.016-2.5-.95-4.019-2.21-1.711-2.546-2.4-2.524-5.194.019-2.411-.095-2.552-2.451-3.051-2.734-.579-3.327-1.058-4.49-3.6-1.014-2.213-1.184-2.294-3.572-1.751-2.751.625-3.476.453-5.685-1.3ZM43.034,5c2.277,0,3.883,2.474,5.272,2.8s3.843-1.2,5.806-.234,2.255,3.837,3.308,4.682,3.912.5,5.27,2.189.4,4.419,1.006,5.645,3.36,2.181,3.866,4.34S66.037,28.67,66.037,30.2s2.031,3.618,1.525,5.773S64.3,39.088,63.7,40.309s.352,3.954-1.006,5.645-4.226,1.352-5.27,2.189-1.344,3.719-3.308,4.683-4.42-.56-5.806-.235-3,2.8-5.272,2.8-3.884-2.474-5.273-2.8-3.843,1.2-5.806.235-2.255-3.837-3.308-4.683-3.912-.5-5.27-2.189-.4-4.418-1.006-5.645-3.36-2.181-3.866-4.34S20.03,31.721,20.03,30.2,18,26.577,18.505,24.422s3.267-3.119,3.866-4.34-.352-3.953,1.006-5.645,4.226-1.351,5.27-2.189,1.344-3.719,3.308-4.682,4.42.559,5.806.234,3-2.8,5.273-2.8ZM53.142,17.9a1.027,1.027,0,1,1,1.3-1.586,17.959,17.959,0,1,1-4.373-2.657,1.028,1.028,0,1,1-.8,1.892A15.924,15.924,0,1,0,53.142,17.9Zm-8,9.568a1.023,1.023,0,0,0,.806.584v0l4.918.618-3.618,3.394a1.028,1.028,0,0,0-.306.942h0l.932,4.872-4.346-2.393a1.028,1.028,0,0,0-1,.006l-4.337,2.387.932-4.872a1.025,1.025,0,0,0-.336-.97L35.2,28.669l4.918-.618a1.029,1.029,0,0,0,.841-.665l2.075-4.415,2.11,4.492Zm-1.181-7.341,2.8,5.955,6.532.821a1.03,1.03,0,0,1,.533,1.816l-4.756,4.46,1.238,6.467A1.03,1.03,0,0,1,48.8,40.736L43.034,37.56l-5.769,3.176a1.03,1.03,0,0,1-1.506-1.095L37,33.174l-4.8-4.5a1.029,1.029,0,0,1,.58-1.769v0l6.532-.821,2.8-5.955a1.027,1.027,0,0,1,1.859,0Zm25.465,72.39L88.02,73.92l-4.646-4.646a3.4,3.4,0,0,0-4.79,0L64.817,83.041a1.02,1.02,0,0,1-.418.493,3.408,3.408,0,0,0,.383,4.333l4.646,4.645ZM64.006,80.938a7.829,7.829,0,0,0-6.792-3.131v0H34.3c-7.15-.606-11.808-7.1-17.679-15.294-1.175-1.64-2.4-3.345-3.713-5.1h0c-1.661-2.267-1.917-3.849-.1-5.671a3.944,3.944,0,0,1,5.558,0L29.221,62.586a6,6,0,0,0,5.822,7.4H46.865a1.031,1.031,0,0,0,0-2.061H35.043a3.931,3.931,0,0,1,0-7.861H53.678a1.03,1.03,0,0,0,.348-.06q8.521-2.176,14.3.012a15.953,15.953,0,0,1,8.532,8.069L64.006,80.938Zm26.2-6.29L70.156,94.7a1.031,1.031,0,0,1-1.457,0l-5.374-5.374a5.466,5.466,0,0,1-.725-6.807c-1.266-1.975-3.037-2.654-5.386-2.657v0H34.261a.714.714,0,0,1-.08,0c-8.133-.661-13.043-7.512-19.236-16.152-1.177-1.641-2.4-3.349-3.688-5.072h0c-2.281-3.034-2.458-5.8.1-8.358a6.006,6.006,0,0,1,8.473,0l10.3,10.3a5.992,5.992,0,0,1,4.914-2.573H53.567q9.123-2.32,15.48.089a17.8,17.8,0,0,1,9.458,8.72,5.467,5.467,0,0,1,6.327,1l5.374,5.374A1.031,1.031,0,0,1,90.206,74.648Z"/>
                        </svg>
                      </div>
                      <div class="infobox-content">
                        <h5 class="infobox-title"><a href="#">Fast Internet</a></h5>
                        <p>sed do eiusmod tempor incididunt ut labore.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="infobox-wrapper infobox-style-3">
                      <div class="infobox-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100" x="0px" y="0px"><defs><style>.cls-1{fill-rule:evenodd;}</style>
                          <linearGradient id="mygradient8" class="mygradient"><stop offset="0" class="start-color" /><stop offset="1" class="end-color" /></linearGradient>
                          </defs><path d="M86.592,13.31H26.279a7.417,7.417,0,0,0-7.408,7.408V42.455h-1.42a1.089,1.089,0,0,0-1.078.934L15.9,46.67a16.019,16.019,0,0,0-3.321,1.444L10.048,46.22a1.09,1.09,0,0,0-1.424.1L4.507,50.439a1.09,1.09,0,0,0-.1,1.424l1.986,2.655a16.045,16.045,0,0,0-1.328,3.368l-3.129.451A1.09,1.09,0,0,0,1,59.416v5.822a1.09,1.09,0,0,0,.934,1.079l3.281.473a15.988,15.988,0,0,0,1.444,3.32L4.766,72.642a1.089,1.089,0,0,0,.1,1.423l4.117,4.118a1.09,1.09,0,0,0,1.423.1L13.064,76.3a15.9,15.9,0,0,0,3.368,1.328l.451,3.129a1.089,1.089,0,0,0,1.078.935h5.823a1.091,1.091,0,0,0,1.079-.935l.472-3.281a16.019,16.019,0,0,0,3.321-1.444l2.531,1.894a1.09,1.09,0,0,0,1.424-.1l4.117-4.117a1.09,1.09,0,0,0,.1-1.424l-1.086-1.452H86.592A7.416,7.416,0,0,0,94,63.421v-42.7A7.417,7.417,0,0,0,86.592,13.31ZM26.279,15.49H86.592a5.234,5.234,0,0,1,5.228,5.228v3.806H59.942a1.09,1.09,0,0,0-.707.26L56.281,27.3H21.051V20.718A5.235,5.235,0,0,1,26.279,15.49Zm5.458,60.123-2.365-1.77A1.09,1.09,0,0,0,28.13,73.8a13.834,13.834,0,0,1-4.043,1.763,1.09,1.09,0,0,0-.808.9L22.84,79.51H18.905l-.421-2.924a1.09,1.09,0,0,0-.846-.909,13.821,13.821,0,0,1-4.1-1.614,1.092,1.092,0,0,0-1.208.065L9.859,75.974,7.076,73.192l1.77-2.366a1.092,1.092,0,0,0,.045-1.242,13.834,13.834,0,0,1-1.763-4.043,1.09,1.09,0,0,0-.9-.807l-3.048-.44V60.36L6.1,59.938a1.089,1.089,0,0,0,.91-.846,13.815,13.815,0,0,1,1.614-4.1,1.09,1.09,0,0,0-.066-1.208L6.716,51.313,9.5,48.531l2.366,1.77a1.089,1.089,0,0,0,1.241.044,13.845,13.845,0,0,1,4.043-1.763,1.09,1.09,0,0,0,.808-.9l.439-3.048H22.33l.421,2.924a1.09,1.09,0,0,0,.846.909,13.821,13.821,0,0,1,4.1,1.614,1.09,1.09,0,0,0,1.208-.065l2.467-1.846,2.783,2.782-1.77,2.366a1.092,1.092,0,0,0-.045,1.242A13.834,13.834,0,0,1,34.107,58.6a1.09,1.09,0,0,0,.9.807l3.048.44v3.934l-2.923.422a1.087,1.087,0,0,0-.909.846,13.845,13.845,0,0,1-1.615,4.1,1.09,1.09,0,0,0,.066,1.208l1.845,2.467Zm54.855-6.964H35.32a16.036,16.036,0,0,0,.852-2.391l3.129-.451a1.09,1.09,0,0,0,.934-1.079V58.906a1.09,1.09,0,0,0-.934-1.079l-3.281-.473a15.988,15.988,0,0,0-1.444-3.32L36.469,51.5a1.088,1.088,0,0,0-.1-1.423L32.25,45.961a1.09,1.09,0,0,0-1.423-.1l-2.656,1.987A15.948,15.948,0,0,0,24.8,46.518l-.451-3.129a1.089,1.089,0,0,0-1.078-.934H21.051V29.484H56.682a1.093,1.093,0,0,0,.708-.261l2.954-2.52H91.82V63.421A5.234,5.234,0,0,1,86.592,68.649ZM67.374,23.26a3.253,3.253,0,1,0-3.253-3.253A3.257,3.257,0,0,0,67.374,23.26Zm0-4.326A1.073,1.073,0,1,1,66.3,20.007,1.074,1.074,0,0,1,67.374,18.934Zm7.977,4.326A3.253,3.253,0,1,0,72.1,20.007,3.256,3.256,0,0,0,75.351,23.26Zm0-4.326a1.073,1.073,0,1,1-1.073,1.073A1.075,1.075,0,0,1,75.351,18.934Zm7.978,4.326a3.253,3.253,0,1,0-3.253-3.253A3.256,3.256,0,0,0,83.329,23.26Zm0-4.326a1.073,1.073,0,1,1-1.073,1.073A1.074,1.074,0,0,1,83.329,18.934ZM27.6,23.567a1.09,1.09,0,0,1,1.089-1.089h6.052a1.09,1.09,0,1,1,0,2.179H28.689A1.09,1.09,0,0,1,27.6,23.567Zm0-4.341a1.09,1.09,0,0,1,1.089-1.089h6.052a1.09,1.09,0,1,1,0,2.179H28.689A1.09,1.09,0,0,1,27.6,19.226ZM62.18,37.258,52.719,61.293a1.09,1.09,0,1,1-2.028-.8l9.461-24.035a1.09,1.09,0,1,1,2.028.8ZM49.47,43.145,41.8,48.876l7.675,5.731a1.09,1.09,0,1,1-1.3,1.746l-8.844-6.6a1.089,1.089,0,0,1,0-1.746l8.844-6.6a1.09,1.09,0,0,1,1.3,1.746Zm24.518,5.731a1.09,1.09,0,0,1-.438.873l-8.844,6.6a1.09,1.09,0,1,1-1.3-1.746l7.675-5.731L63.4,43.145a1.09,1.09,0,1,1,1.3-1.746L73.55,48A1.091,1.091,0,0,1,73.988,48.876Zm-53.37,5.18a8.016,8.016,0,1,0,8.016,8.016A8.025,8.025,0,0,0,20.618,54.056Zm0,13.853a5.837,5.837,0,1,1,5.836-5.837A5.844,5.844,0,0,1,20.618,67.909Z"/>
                        </svg>
                      </div>
                      <div class="infobox-content">
                        <h5 class="infobox-title"><a href="#">Best Team</a></h5>
                        <p>sed do eiusmod tempor incididunt ut labore.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!--=================================
            Contact Us -->
            @*
            <section class="contact-map">
              <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8402891185456!2d144.95373631584474!3d-37.81720974201458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1598418458630!5m2!1sen!2sin" style="border:0; width: 100%;" allowfullscreen=""></iframe>
            </section>
            *@
            <!--=================================
            Pricing & Testimonial -->
            @*
            <section class="space-ptb">
              <div class="container">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="section-title"><h2 class="title">Choose the plan that’s right for you</h2></div>
                    <div class="ps-xxl-5 ms-0 ms-md-5">
                      <p>It is truly amazing the damage that we, as parents, can inflict on our children. So why do we do it? For the most part, we don’t do it intentionally or with malice.</p>
                      <a class="btn btn-effect mt-4 mt-md-0" href="#"><span>View All Plan</span></a>
                    </div>
                  </div>
                  <div class="col-lg-7 ps-xxl-5">
                    <div class="pgs-accordion pgs-pricing ps-0 ps-lg-5 mt-5 mt-lg-0">
                      <div class="accordion-item">
                        <div class="accordion-header">
                          <div class="package-info">
                            <span class="package-check"><i class="fa-solid fa-check"></i></span>
                            <div class="package-name">
                              <h5 class="package-title">Weekly Package</h5><span class="package-discount">10% Discount</span>
                            </div>
                          </div>
                          <div class="package-price">
                            <h5 class="price">$19</h5><span class="period">/Monthly</span>
                          </div>
                        </div>
                        <div class="accordion-content">
                          <div class="content-inner">
                            <div class="pricing-lists">
                              <ul class="pricing-lists">
                                <li><i class="fa-regular fa-circle-check"></i> Unlimited updates</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom infrastructure</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom permissions</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom infrastructure</li>
                              </ul>
                            </div>
                            <div class="pricing-link">
                              <a href="#"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_1331)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="1"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="1"/></g><defs><clipPath id="clip0_923_1331"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item is-active">
                        <div class="accordion-header">
                          <div class="package-info">
                            <span class="package-check"><i class="fa-solid fa-check"></i></span>
                            <div class="package-name">
                              <h5 class="package-title">Weekly Package</h5><span class="package-discount">15% Discount</span>
                            </div>
                          </div>
                          <div class="package-price">
                            <h5 class="price">$29</h5><span class="period">/Monthly</span>
                          </div>
                        </div>
                        <div class="accordion-content">
                          <div class="content-inner">
                            <div class="pricing-lists">
                              <ul class="pricing-lists">
                                <li><i class="fa-regular fa-circle-check"></i> Unlimited updates</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom infrastructure</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom permissions</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom infrastructure</li>
                              </ul>
                            </div>
                            <div class="pricing-link">
                              <a href="#"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_1332)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="1"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="1"/></g><defs><clipPath id="clip0_923_1332"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <div class="accordion-header">
                          <div class="package-info">
                            <span class="package-check"><i class="fa-solid fa-check"></i></span>
                            <div class="package-name">
                              <h5 class="package-title">Weekly Package</h5><span class="package-discount">18% Discount</span>
                            </div>
                          </div>
                          <div class="package-price">
                            <h5 class="price">$39</h5><span class="period">/Monthly</span>
                          </div>
                        </div>
                        <div class="accordion-content">
                          <div class="content-inner">
                            <div class="pricing-lists">
                              <ul class="pricing-lists">
                                <li><i class="fa-regular fa-circle-check"></i> Unlimited updates</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom infrastructure</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom permissions</li>
                                <li><i class="fa-regular fa-circle-check"></i> Custom infrastructure</li>
                              </ul>
                            </div>
                            <div class="pricing-link">
                              <a href="#"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_1333)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="1"/><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="1"/></g><defs><clipPath id="clip0_923_1333"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)"/></clipPath></defs></svg></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            *@
        </div>
      </div>
