@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models

@{
    var content = (ContentModels.HomeIndividual)Model.Content;
    var isActive = ViewData["IsActive"] as bool? ?? false;
    var accordionClass = isActive ? "accordion-item is-active" : "accordion-item";

    
}
<div class="@accordionClass">
                                <div class="accordion-header">
                                    <div class="package-info">
                                        <span class="package-check"><i class="fa-solid fa-check"></i></span>
                                        <div class="package-name">
                                            <h5 class="package-title">@content.Value("homeIndividualName")</h5><span class="package-discount">@content.Value("homeIndividualNote")</span>
                                        </div>
                                    </div>
                                    <div class="package-price">
                                        <h5 class="price">@content.Value("homeIndividualPrice")</h5><span class="period">/Monthly</span>
                                    </div>
                                </div>
                                <div class="accordion-content">
                                    <div class="content-inner">
                                        <div class="pricing-lists">

                                                @{
                                                if (content.Value<string[]>("homeIndividualBenefits").Length > 0)
                                                {
                                                <ul class="pricing-lists">
                                                         @foreach (var item in content.Value<string[]>("homeIndividualBenefits"))
                                                        {
                                                        <li><i class="fa-regular fa-circle-check"></i> @item</li>
                                                        }
                                                    </ul>
                                                }
                                            }
                                            
                                        </div>
                                        <div class="pricing-link">
                                            <a href="#"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_133)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="1" /><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="1" /></g><defs><clipPath id="clip0_923_1335"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)" /></clipPath></defs></svg></a>
                                        </div>
                                    </div>
                                </div>
                            </div>