@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{
	Layout = "masterTemplate.cshtml";

    var HeaderImage = Model.Value<MediaWithCrops>("headerImage");
    var HomeMarqueeImage = Model.Value<MediaWithCrops>("homeMarqueeImage");
    var WorkPlacesPage = Umbraco.Content(Guid.Parse("24d2ff49-bc14-4bae-a23f-bd5c5bbb6a91"));
    var AboutPage = Umbraco.Content(Guid.Parse("757a3da7-bf22-4b99-bd7e-2973551f7999"));
    var AboutDetailsImageHome = AboutPage.Value<MediaWithCrops>("aboutDetailsImageHome");


}
<div class="site-content">
    <!--=================================
    Main Banner -->
    <div class="main-banner main-banner-2 section-bg-effect">
        <div class="banner-inner">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="title-area">
                            <h2 class="banner-title-fill">@Model.Value("headerTitle1")</h2>
                            <h2 class="banner-title-outline">@Model.Value("headerTitle2")</h2>
                        </div>
                        <div class="button-and-description">
                            <a class="btn arrow-down btn-effect" href="#"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_133)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="1" /><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="1" /></g><defs><clipPath id="clip0_923_1333"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)" /></clipPath></defs></svg></a>
                            <div class="description">@Model.Value("headerDesc")</div>
                        </div>
                        
                    </div>
                    <div class="col-lg-5 text-center mt-5 mt-lg-0">
                        <div class="banner-image">
                            <img class="img-fluid main-img" src="@HeaderImage?.MediaUrl()" alt="" />
                            <img class="img-fluid image-border" src="images/banner/banner-02/image-border.png" alt="" />
                            <img class="img-fluid img-shape" src="images/banner/banner-02/image-bg.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">

        <!--=================================
        Marquee -->
        <section class="space-p">
            <div class="container-fluid g-0">
                <div class="row g-0">
                    <div class="col-lg-12">
                        <div class="marquee-relative">
                            <div class="marquee-bg-img ps-6 text-end"><img class="img-fluid" src="@HomeMarqueeImage?.MediaUrl()" alt="" /></div>
                            <div class="marquee-absolute">


                                <div class="marquee-wrapper bg-primary-gradient marquee-right rotate-left-1">

                                    @{
                                        if (Model.Value<string[]>("homeMarquee1").Length > 0)
                                        {
                                            <div class="marquee-inner">
                                                @foreach (var item in Model.Value<string[]>("homeMarquee1"))
                                                {
                                                    <div class="marquee-item"><span class="icon">❈</span><span class="title"> @item</span></div>
                                                }
                                            </div>
                                        }
                                    }
                                </div>


                                <div class="marquee-wrapper bg-dark rotate-left-1">


                                    @{
                                        if (Model.Value<string[]>("homeMarquee2").Length > 0)
                                        {
                                            <div class="marquee-inner">
                                                @foreach (var item in Model.Value<string[]>("homeMarquee2"))
                                                {
                                                    <div class="marquee-item"><span class="icon">❈</span><span class="title"> @item</span></div>
                                                }
                                            </div>
                                        }
                                    }
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--=================================
        Workspaces -->
        <section class="space-ptb section-bg-effect">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-12">
                        <div class="section-title"><h2 class="title">Coworking is growing and hybridizing so fast</h2></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-2 col-md-1"></div>
                    <div class="col-xl-6 col-lg-7 col-md-8">
                        <p>There is really no magic to it and it’s not reserved only for a select few people. As such, success really has nothing to do with luck, coincidence or fate. It really comes down to understanding the steps in the process and then executing on those steps.</p>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 mt-3 mt-md-0 text-start text-md-end">
                        <a class="btn btn-effect" href="#"><span>Explore All</span></a>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class="workspaces-wrapper workspaces-style4">
                            <div class="workspaces-inner">
                                <div class="workspaces-content">
                                    <div data-tab="workspaces-data-1" class="workspaces-info-item item-active">
                                        <div class="workspaces-details">
                                            <div class="workspaces-info">
                                                <div class="workspaces-numbers">
                                                    <span class="workspaces-number">01</span>
                                                    <span class="workspaces-number-gradient">01</span>
                                                </div>
                                                <h4 class="workspaces-title">Ways of lying to yourself about.</h4>
                                            </div>
                                            <div class="workspaces-action">
                                                <a class="workspaces-price" href="#"><span class="currency">$</span><span class="price">159</span><span class="period">/Monthly</span></a>
                                                <a class="workspaces-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="34" fill="none"><linearGradient id="arrowgradient" class="arrowgradient"><stop offset="0" class="start-color" /><stop offset="1" class="end-color" /></linearGradient><path d="M5.278 13.214H.791a.527.527 0 0 1 0-1.053h4.487a.527.527 0 0 1 0 1.053ZM30.755 33.932c-.317 0-.635-.12-.877-.362l-5.051-5.052a1.243 1.243 0 0 1 0-1.755l4.977-4.977H15.64a.527.527 0 1 1 0-1.054h15.438a.526.526 0 0 1 .372.9l-5.877 5.876a.188.188 0 0 0 0 .266l5.05 5.05a.187.187 0 0 0 .266 0l15.69-15.69a.185.185 0 0 0 .05-.14c.002-.08-.005-.136-.05-.18L30.888 1.123c-.095-.095-.17-.097-.266 0l-5.05 5.05a.188.188 0 0 0 0 .265l5.877 5.877a.527.527 0 0 1-.373.899H9.927a.527.527 0 0 1 0-1.054h19.878l-4.978-4.977a1.243 1.243 0 0 1 0-1.756l5.05-5.05c.47-.47 1.289-.47 1.757 0l15.69 15.69c.244.244.371.573.358.925.013.312-.114.64-.358.885l-15.69 15.69c-.243.244-.56.365-.879.365ZM11.255 21.786h-4.37a.527.527 0 1 1 0-1.054h4.37a.527.527 0 1 1 0 1.054Z" /><path d="M22.147 17.5H4.114a.527.527 0 0 1 0-1.054h18.033a.527.527 0 0 1 0 1.054Z" /></svg></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-tab="workspaces-data-2" class="workspaces-info-item">
                                        <div class="workspaces-details">
                                            <div class="workspaces-info">
                                                <div class="workspaces-numbers">
                                                    <span class="workspaces-number">02</span>
                                                    <span class="workspaces-number-gradient">02</span>
                                                </div>
                                                <h4 class="workspaces-title">Transforming Ideas Reality Reveal</h4>
                                            </div>
                                            <div class="workspaces-action">
                                                <a class="workspaces-price" href="#"><span class="currency">$</span><span class="price">159</span><span class="period">/Monthly</span></a>
                                                <a class="workspaces-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="34" fill="none"><linearGradient id="arrowgradient2" class="arrowgradient"><stop offset="0" class="start-color" /><stop offset="1" class="end-color" /></linearGradient><path d="M5.278 13.214H.791a.527.527 0 0 1 0-1.053h4.487a.527.527 0 0 1 0 1.053ZM30.755 33.932c-.317 0-.635-.12-.877-.362l-5.051-5.052a1.243 1.243 0 0 1 0-1.755l4.977-4.977H15.64a.527.527 0 1 1 0-1.054h15.438a.526.526 0 0 1 .372.9l-5.877 5.876a.188.188 0 0 0 0 .266l5.05 5.05a.187.187 0 0 0 .266 0l15.69-15.69a.185.185 0 0 0 .05-.14c.002-.08-.005-.136-.05-.18L30.888 1.123c-.095-.095-.17-.097-.266 0l-5.05 5.05a.188.188 0 0 0 0 .265l5.877 5.877a.527.527 0 0 1-.373.899H9.927a.527.527 0 0 1 0-1.054h19.878l-4.978-4.977a1.243 1.243 0 0 1 0-1.756l5.05-5.05c.47-.47 1.289-.47 1.757 0l15.69 15.69c.244.244.371.573.358.925.013.312-.114.64-.358.885l-15.69 15.69c-.243.244-.56.365-.879.365ZM11.255 21.786h-4.37a.527.527 0 1 1 0-1.054h4.37a.527.527 0 1 1 0 1.054Z" /><path d="M22.147 17.5H4.114a.527.527 0 0 1 0-1.054h18.033a.527.527 0 0 1 0 1.054Z" /></svg></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-tab="workspaces-data-3" class="workspaces-info-item">
                                        <div class="workspaces-details">
                                            <div class="workspaces-info">
                                                <div class="workspaces-numbers">
                                                    <span class="workspaces-number">03</span>
                                                    <span class="workspaces-number-gradient">03</span>
                                                </div>
                                                <h4 class="workspaces-title">Exploring Our Agency's Diverse</h4>
                                            </div>
                                            <div class="workspaces-action">
                                                <a class="workspaces-price" href="#"><span class="currency">$</span><span class="price">159</span><span class="period">/Monthly</span></a>
                                                <a class="workspaces-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="34" fill="none"><linearGradient id="arrowgradient3" class="arrowgradient"><stop offset="0" class="start-color" /><stop offset="1" class="end-color" /></linearGradient><path d="M5.278 13.214H.791a.527.527 0 0 1 0-1.053h4.487a.527.527 0 0 1 0 1.053ZM30.755 33.932c-.317 0-.635-.12-.877-.362l-5.051-5.052a1.243 1.243 0 0 1 0-1.755l4.977-4.977H15.64a.527.527 0 1 1 0-1.054h15.438a.526.526 0 0 1 .372.9l-5.877 5.876a.188.188 0 0 0 0 .266l5.05 5.05a.187.187 0 0 0 .266 0l15.69-15.69a.185.185 0 0 0 .05-.14c.002-.08-.005-.136-.05-.18L30.888 1.123c-.095-.095-.17-.097-.266 0l-5.05 5.05a.188.188 0 0 0 0 .265l5.877 5.877a.527.527 0 0 1-.373.899H9.927a.527.527 0 0 1 0-1.054h19.878l-4.978-4.977a1.243 1.243 0 0 1 0-1.756l5.05-5.05c.47-.47 1.289-.47 1.757 0l15.69 15.69c.244.244.371.573.358.925.013.312-.114.64-.358.885l-15.69 15.69c-.243.244-.56.365-.879.365ZM11.255 21.786h-4.37a.527.527 0 1 1 0-1.054h4.37a.527.527 0 1 1 0 1.054Z" /><path d="M22.147 17.5H4.114a.527.527 0 0 1 0-1.054h18.033a.527.527 0 0 1 0 1.054Z" /></svg></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-tab="workspaces-data-4" class="workspaces-info-item">
                                        <div class="workspaces-details">
                                            <div class="workspaces-info">
                                                <div class="workspaces-numbers">
                                                    <span class="workspaces-number">04</span>
                                                    <span class="workspaces-number-gradient">04</span>
                                                </div>
                                                <h4 class="workspaces-title">Crafting Brand Stories Our Portfolio</h4>
                                            </div>
                                            <div class="workspaces-action">
                                                <a class="workspaces-price" href="#"><span class="currency">$</span><span class="price">159</span><span class="period">/Monthly</span></a>
                                                <a class="workspaces-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="34" fill="none"><linearGradient id="arrowgradient4" class="arrowgradient"><stop offset="0" class="start-color" /><stop offset="1" class="end-color" /></linearGradient><path d="M5.278 13.214H.791a.527.527 0 0 1 0-1.053h4.487a.527.527 0 0 1 0 1.053ZM30.755 33.932c-.317 0-.635-.12-.877-.362l-5.051-5.052a1.243 1.243 0 0 1 0-1.755l4.977-4.977H15.64a.527.527 0 1 1 0-1.054h15.438a.526.526 0 0 1 .372.9l-5.877 5.876a.188.188 0 0 0 0 .266l5.05 5.05a.187.187 0 0 0 .266 0l15.69-15.69a.185.185 0 0 0 .05-.14c.002-.08-.005-.136-.05-.18L30.888 1.123c-.095-.095-.17-.097-.266 0l-5.05 5.05a.188.188 0 0 0 0 .265l5.877 5.877a.527.527 0 0 1-.373.899H9.927a.527.527 0 0 1 0-1.054h19.878l-4.978-4.977a1.243 1.243 0 0 1 0-1.756l5.05-5.05c.47-.47 1.289-.47 1.757 0l15.69 15.69c.244.244.371.573.358.925.013.312-.114.64-.358.885l-15.69 15.69c-.243.244-.56.365-.879.365ZM11.255 21.786h-4.37a.527.527 0 1 1 0-1.054h4.37a.527.527 0 1 1 0 1.054Z" /><path d="M22.147 17.5H4.114a.527.527 0 0 1 0-1.054h18.033a.527.527 0 0 1 0 1.054Z" /></svg></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="workspaces-images d-none d-xl-block">
                                    <div id="workspaces-data-1" class="workspaces-image-item image-active">
                                        <div class="workspaces-img"><img class="img-fluid" src="images/workspaces/01.jpg" alt="Workspaces Image"></div>
                                        <div class="workspaces-space">
                                            <div class="workspaces-space-inner">
                                                <div class="space-icon"><img class="img-fluid" src="images/spaces-icon-gradient.png" alt=""></div>
                                                <span class="total-space">10 Spaces</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="workspaces-data-2" class="workspaces-image-item">
                                        <div class="workspaces-img"><img class="img-fluid" src="images/workspaces/02.jpg" alt="Workspaces Image"></div>
                                        <div class="workspaces-space">
                                            <div class="workspaces-space-inner">
                                                <div class="space-icon"><img class="img-fluid" src="images/spaces-icon-gradient.png" alt=""></div>
                                                <span class="total-space">20 Spaces</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="workspaces-data-3" class="workspaces-image-item">
                                        <div class="workspaces-img"><img class="img-fluid" src="images/workspaces/03.jpg" alt="Workspaces Image"></div>
                                        <div class="workspaces-space">
                                            <div class="workspaces-space-inner">
                                                <div class="space-icon"><img class="img-fluid" src="images/spaces-icon-gradient.png" alt=""></div>
                                                <span class="total-space">30 Spaces</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="workspaces-data-4" class="workspaces-image-item">
                                        <div class="workspaces-img"><img class="img-fluid" src="images/workspaces/04.jpg" alt="Workspaces Image"></div>
                                        <div class="workspaces-space">
                                            <div class="workspaces-space-inner">
                                                <div class="space-icon"><img class="img-fluid" src="images/spaces-icon-gradient.png" alt=""></div>
                                                <span class="total-space">40 Spaces</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--=================================
        About Section -->
        <section class="space-ptb bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 mb-lg-5 text-center text-xl-start mb-5 mb-xl-0">
                        <img class="img-fluid" src="@AboutDetailsImageHome?.MediaUrl()" alt="25 Years Expertise" />
                    </div>
                    <div class="col-xl-7 ps-xl-5 pe-lg-5">
                        <div class="section-title pe-xxl-5 me-xxl-5"><h2 class="title">@AboutPage.Value("aboutDetailsTitle")</h2></div>
                        <div class="ps-xxl-5 ms-0 ms-md-5">
                            <div class="row">
                                <div class="col-lg-10 mb-3">
                                    <p class="text-white">@AboutPage.Value("aboutDetailsDesc")</p>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-9">
                                    <div class="list-wrapper list-light">
                                        @{
                                            if (AboutPage.Value<string[]>("aboutDetailsPoints").Length > 0)
                                            {
                                                <ul class="list col-2">
                                                    @foreach (var item in AboutPage.Value<string[]>("aboutDetailsPoints"))
                                                    {
                                                        <li><i class="fa-regular fa-snowflake"></i> @item</li>
                                                    }
                                                </ul>
                                            }
                                        }

                                        
                                    </div>
                                </div>
                                <div class="col-md-3 mt-5 mt-md-0">
                                    <a class="btn btn-effect" href="@AboutPage.Url()"><span>About Us</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-3 col-sm-6 mt-4 text-center">
                        <div class="counter counter-style-2 counter-light">
                            <div class="counter-number"><span class="timer mb-0" data-to="5" data-speed="2000">@AboutPage.Value("aboutDetailsNo1")</span><span class="suffix">M</span></div>
                            <div class="counter-info"><span class="counter-title text-white">@AboutPage.Value("aboutDetailsNo11")</span></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-4 text-center">
                        <div class="counter counter-style-2 counter-light">
                            <div class="counter-number"><span class="timer mb-0" data-to="30" data-speed="2000">@AboutPage.Value("aboutDetailsNo2")</span><span class="suffix">K+</span></div>
                            <div class="counter-info"><span class="counter-title text-white">@AboutPage.Value("aboutDetailsNo2")</span></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-4 text-center">
                        <div class="counter counter-style-2 counter-light">
                            <div class="counter-number"><span class="timer mb-0" data-to="10" data-speed="2000">@AboutPage.Value("aboutDetailsNo3")</span><span class="suffix">K+</span></div>
                            <div class="counter-info"><span class="counter-title text-white">@AboutPage.Value("aboutDetailsNo33")</span></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-4 text-center">
                        <div class="counter counter-style-2 counter-light">
                            <div class="counter-number"><span class="timer mb-0" data-to="110" data-speed="2000">@AboutPage.Value("aboutDetailsNo4")</span><span class="suffix">+</span></div>
                            <div class="counter-info"><span class="counter-title text-white">@AboutPage.Value("aboutDetailsNo44")</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--=================================
        Infobox -->
        <section class="space-ptb section-bg-effect">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-8 col-xl-10 text-center">
                        <div class="section-title">
                            <h2 class="title">@Model.Value("homeServicesTitle")</h2>
                            <p>@Model.Value("homeServicesDesc")</p>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-sm-12">
                        
                        @Html.GetBlockListHtml(Model, "homeServices", "HomeService")



                    </div>
                </div>
            </div>
        </section>

        <!--=================================
        Workspaces -->
        <section class="space-pt bg-primary-gradient workspaces-outside">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-12">
                        <div class="section-title section-title-light"><h2 class="title">@Model.Value("homeWorkplacesTitle")</h2></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-2 col-md-1"></div>
                    <div class="col-xl-6 col-lg-7 col-md-8">
                        <p class="text-white">@Model.Value("homeWorkplacesDesc")</p>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-3 mt-3 mt-md-0 text-start text-md-end">
                        <a class="btn btn-dark btn-effect" href="@WorkPlacesPage.Url()"><span>Explore All</span></a>
                    </div>
                </div>
            </div>
            <div class="container-fluid g-0">
                <div class="row g-0 mt-5">
                    <div class="col-md-12 ps-3 pe-3 ps-lg-0 pe-lg-0">
                        <div class="owl-main-wrapper" data-cursor-type="text">
                            <div class="owl-carousel workspaces-centered-slider" data-center="true" data-nav-arrow="false" data-items="2" data-lg-items="2" data-md-items="2" data-sm-items="1" data-xs-items="1" data-space="30">
                               
                                
                                
                                @{
                                    var selectionWorkPlace = Umbraco.Content(Guid.Parse("24d2ff49-bc14-4bae-a23f-bd5c5bbb6a91"))
                                    .ChildrenOfType("workPlaceDetails")
                                    .Where(x => x.IsVisible());
                                }
                                
                                    @foreach (var item in selectionWorkPlace)
                                    {
                                        var WorkPlaceImage = item.Value<MediaWithCrops>("workPlaceImage");

                                        

                                <div class="item">
                                    <div class="workspaces-wrapper workspaces-style1">
                                        <div class="workspaces-inner">
                                            <div class="workspaces-image"><img class="img-fluid" src="@WorkPlaceImage?.MediaUrl()" alt="" /></div>
                                            <div class="workspaces-info">
                                                <h5 class="spaces-title">@item.Value("workPlaceName")</h5>
                                                <ul class="spaces-list">
                                                    <li>
                                                        <div class="list-icon"><img class="img-fluid" src="images/spaces-icon-01.png" alt="" /></div>
                                                        <div class="list-label">Spaces:</div>
                                                        <div class="list-value">@item.Value("workPlaceChairsNo")</div>
                                                    </li>
                                                    <li>
                                                        <div class="list-icon"><img class="img-fluid" src="images/spaces-icon-02.png" alt="" /></div>
                                                        <div class="list-label">Workplaces:</div>
                                                        <div class="list-value">@item.Value("workPlaceOfficesNo")</div>
                                                    </li>
                                                    <li>
                                                        <div class="list-icon"><img class="img-fluid" src="images/spaces-icon-03.png" alt="" /></div>
                                                        <div class="list-label">Price:</div>
                                                        <div class="list-value">@item.Value("workPlaceStartPrice")</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                    }
                                


                                
                               



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--=================================
        Pricing & Testimonial -->
        <section class="space-ptb section-bg-effect">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="section-title"><h2 class="title">Choose the plan that’s right for you</h2></div>
                        <div class="ps-xxl-5 ms-0 ms-md-5">
                            <p>It is truly amazing the damage that we, as parents, can inflict on our children. So why do we do it? For the most part, we don’t do it intentionally or with malice.</p>
                            <a class="btn btn-effect mt-4 mt-md-0" href="#"><span>View All Plan</span></a>
                        </div>
                    </div>
                    <div class="col-lg-7 ps-xxl-5">
                        
                        @Html.GetBlockListHtml(Model, "homeIndividuals", "HomeIndividual")

                        

                    </div>
                </div>
            </div>
            <div class="container-fluid space-medium-pt g-0">
                <div class="row g-0">
                    <div class="col-sm-12 ps-3 pe-3 ps-sm-0 pe-sm-0" data-cursor-type="text">



                        @{
                            var aboutPage = Umbraco.ContentAtRoot()
                            .DescendantsOrSelfOfType("about") // غيّري alias لو مختلف
                            .FirstOrDefault();

                            if (aboutPage is About aboutContent)
                            {
                                var testimonials = aboutContent.AboutTestimonials;

                                if (testimonials != null && testimonials.Any())
                                {
                                    @Html.GetBlockListHtml(aboutContent, "aboutTestimonials", "HomeTestimonial")

                                }
                            }
                        }





                    
                    
                    </div>
                </div>
            </div>
        </section>

   
          <!--=================================
          Workspaces -->
          <section class="space-ptb section-bg-effect">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-xxl-7 col-xl-10 text-center">
                  <div class="section-title">
                    <h2 class="title">@Model.Value("homeOurClientTitle")</h2>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="container-fluid mt-5 pt-4 p-0">
              <div class="row g-0">
                <div class="col-md-12">
                  <div class="marquee-wrapper marquee-image">
                        @Html.GetBlockListHtml(Model, "homeOurClients", "HomeOurClient")

                  </div>
                </div>
              </div>
            </div>
          </section>


        <!--=================================
        Blog -->
        <section class="space-ptb section-bg-effect">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-8 col-xl-10 text-center">
                        <div class="section-title">
                            <h2 class="title">@Model.Value("homeBlogTitle")</h2>
                            <p>@Model.Value("homeBlogDesc")</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="owl-carousel" data-loop="false" data-items="3" data-lg-items="3" data-md-items="2" data-sm-items="2" data-xs-items="1" data-space="30">
                           
                            
                            
                            @{
                                var selectionBlog = Umbraco.Content(Guid.Parse("7aca88ee-81ae-4ef6-b5ad-97a5f4afccdf"))
                                .ChildrenOfType("article")
                                .Where(x => x.IsVisible())
                                .OrderBy(x => x.CreateDate)
                                .Take(3);
                            }
                         
                                @foreach (var item in selectionBlog)
                                {
                                    var BlogImage = item.Value<MediaWithCrops>("heroImage");
                                    var blogDate = item.Value<DateTime>("date");
                                    

                                    <div class="item">
                                        <div class="blog-post-wrapper blog-style-1">
                                            <div class="blog-post-img"><img class="img-fluid" src="@BlogImage?.MediaUrl()" alt="" /></div>
                                            <div class="blog-post-info">
                                                <div class="post-meta">
                                                    <div class="post-meta-category"><a href="@item.Url()">@item.Value("articleCategory")</a></div>
                                                    <div class="post-meta-date"><a href="#">@blogDate.ToString("dd-MMM-yyyy")</a></div>
                                                </div>
                                                <h5 class="post-title"><a href="@item.Url()">@item.Value("title")</a></h5>
                                                <div class="post-link">
                                                    <a class="btn-arrow" href="#"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_923_133)"><path d="M8.70801 0.959961L9.29825 2.7665C10.2512 5.68321 12.8308 7.77453 15.8928 8.1128C12.8468 8.37564 10.2578 10.4348 9.3276 13.3343L8.70801 15.2657" stroke="inherit" stroke-width="2" /><path d="M15.7602 8.12158H0.1875" stroke="inherit" stroke-width="2" /></g><defs><clipPath id="clip0_923_1331"><rect width="15.904" height="14.8437" fill="inherit" transform="translate(0.1875 0.578125)" /></clipPath></defs></svg></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            
                                }
                          


                       



                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>