@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{
	Layout = "masterTemplate.cshtml";
    var blogDatee = Model.Value<DateTime>("date");
    var BlogImagee = Model.Value<MediaWithCrops>("heroImage");

}


<div class="site-content">
    <!--=================================
    Page Header -->
    <div class="inner-header bg-holder" style="background-image: url(@BlogImagee?.MediaUrl());">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-md-12 text-center">
                    <h1 class="title">@Model.Value("title")</h1>
                    <ul class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item active"><a href="index.html">@Model.Value("summary")</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">

        <!--=================================
        Blog -->
        <section class="space-ptb section-bg-effect">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <a class="sidebar-btn d-lg-none" href="#offcanvasSidebar" data-bs-toggle="offcanvas" roll="button" aria-controls="offcanvasSidebar">
                            <i class="fa-solid fa-outdent"></i>Show Sidebar
                        </a>
                        <div class="blog-single format-standard">
                            <div class="post-content-header">
                                <div class="post-meta">
                                    <ul>
                                        <li class="post-meta-category"><a href="#">@Model.Value("articleCategory")</a></li>
                                        <li class="post-meta-date">@blogDatee.ToString("dd-MMM-yyyy")</li>
                                    </ul>
                                </div>
                                <h3 class="post-title">@Model.Value("title")</h3>
                            </div>
                            <div class="blog-post-img"><img class="img-fluid" src="@BlogImagee?.MediaUrl()" alt="Blog Image" /></div>
                            <div class="blog-post-content">
                                <div class="post-content-body">
                                    <p>@Model.Value("articleBody")</p>
                                    @if (Model.HasValue("articleQuoteDesc"))
                                    {

                                        <blockquote class="my-5"><p>@Model.Value("articleQuoteDesc")</p><cite class="mt-3">@Model.Value("articleQuoteName")</cite></blockquote>
                                        }
                                </div>
                                <div class="post-content-footer">
                                    <div class="post-tag">


                                        @if (Model.HasValue("articleTags"))
                                        {
                                            var tags = Model.Value<IEnumerable<string>>("articleTags");
                                            <ul class="tag-list">
                                                @foreach (var tag in tags)
                                                {

                                                    <li><a href="#">@tag</a></li>

                                                }
                                            </ul>
                                        }

                                       
                                    </div>
                                    <div class="post-social">
                                        <ul class="social-icon">
                                            <li class="title">Follow us</li>
                                            <li><a href="#">Fb.</a></li>
                                            <li><a href="#">Dr.</a></li>
                                            <li><a href="#">Tw.</a></li>
                                            <li><a href="#">Be.</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                         
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5 mt-lg-0">
                        <div class="offcanvas-lg offcanvas-sidebar offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
                            <div class="offcanvas-header">
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>
                            <div class="offcanvas-body">
                                <div class="sidebar mobile-offcanvas ps-0 pe-0 ps-xl-5 pe-xl-5 ps-lg-4">
                                    
                                    
                                    <div class="widget widget-recent-posts">
                                        <h5 class="widget-title">Recent Posts</h5>



                                        @{
                                            var selection = Umbraco.Content(Guid.Parse("7aca88ee-81ae-4ef6-b5ad-97a5f4afccdf"))
                                            .ChildrenOfType("article")
                                            .Where(x => x.IsVisible())
                                            .OrderBy(x => x.CreateDate)
                                            .Take(4);
                                        }
                                        
                                            @foreach (var item in selection)
                                            {
                                            var BlogImage = item.Value<MediaWithCrops>("heroImage");
                                            var blogDate = item.Value<DateTime>("date");

                                            <div class="recent-posts">
                                                <div class="posts-img"><img class="img-fluid" src="@BlogImage?.MediaUrl()" alt=""></div>
                                                <div class="post-info">
                                                    <a href="@item.Url()" class="post-title">@item.Value("title")</a>
                                                    <span class="post-date">@blogDate.ToString("dd-MMM-yyyy")</span>
                                                </div>
                                            </div>
                                               
                                            }
                                        


                                        




                                    </div>


                                   @*  <div class="widget widget-categories">
                                        <h5 class="widget-title">Categories</h5>
                                        <ul class="categories-list">
                                            <li><a href="#">Lifestyle</a></li>
                                            <li><a href="#">WordPress</a></li>
                                            <li><a href="#">Creative</a></li>
                                            <li><a href="#">Business</a></li>
                                            <li><a href="#">Design</a></li>
                                        </ul>
                                    </div>
                                    <div class="widget tags-widget">
                                        <h5 class="widget-title">Tag</h5>
                                        <ul class="tag-list">
                                            <li><a href="#">Lifestyle</a></li>
                                            <li><a href="#">WordPress</a></li>
                                            <li><a href="#">Creative</a></li>
                                            <li><a href="#">Business</a></li>
                                            <li><a href="#">Design</a></li>
                                        </ul>
                                    </div>
 *@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
