@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{
	Layout = "masterTemplate.cshtml";
    var WorkPlacesImage = Model.Value<MediaWithCrops>("workPlacesImage");

}
@{
    var selection = Umbraco.Content(Guid.Parse("24d2ff49-bc14-4bae-a23f-bd5c5bbb6a91"))
    .ChildrenOfType("workPlaceDetails")
    .Where(x => x.IsVisible());
    int itemCount = selection.Count();
}


<div class="site-content">
    <!--=================================
    Page Header -->
    <div class="inner-header bg-holder" style="background-image: url(@WorkPlacesImage?.MediaUrl());">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-md-12 text-center">
                    <h1 class="title">@Model.Value("workPlacesTitle")</h1>
                    <ul class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item active"><a href="index.html">@Model.Value("workPlacesDesc")</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">

        <!--=================================
        Blog -->
        <section class="space-ptb section-bg-effect">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="workspaces-filter">
                            <div class="workspaces-count">@itemCount Places Showing</div>
                        </div>
                        <div class="workspaces-grid grid-wrapper grid-xl-2 grid-lg-2 grid-md-2 grid-sm-1 grid-xs-1">
                            


                     
                       
                            @foreach (var item in selection)
                            {
                               
                                  var WorkPlaceImage = item.Value<MediaWithCrops>("workPlaceImage");

                            <div class="workspaces-wrapper workspaces-style2">
                                <div class="workspaces-inner">
                                    <div class="workspaces-image"><img class="img-fluid" src="@WorkPlaceImage?.MediaUrl()" alt="" /></div>
                                    <div class="workspaces-info">
                                        <div class="spaces-info-left">
                                            <h5 class="spaces-title"><a href="@item.Url()">@item.Name()</a></h5>
                                            <div class="spaces-description">@item.Value("workPlaceSummary")</div>
                                            
                                        </div>
                                        <div class="spaces-info-right">
                                            <div class="floor-plan"><img class="img-fluid" src="images/floor-plan-01.png" alt="" /></div>
                                            <div class="plan-price"><a href="@item.Url()"><span class="currency">@item.Value("workPlaceStartPrice")</span></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                                
                            }
                        




                          



                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
